/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.setting-item-info {
  width: 100%;
  flex: 1 1.5 auto;
}

.setting-item-control {
  position: relative;
  width: 100%;

  .search-input-container, input {
    width: 100%;
  }
}

.search-results-container {
  position: absolute;
  text-decoration: none;
  list-style: none;
  padding: 0;
  top: 17px;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid var(--background-modifier-border);
  border-top: 0;
  overflow: hidden;

  &:empty {
    border: none;
  }

  .search-result {
    border-top: solid 1px var(--background-modifier-border);
    padding: 3px 5px;
    background-color: var(--color-base-10);
    color: var(--text-normal);
    cursor: pointer;
    text-align: left;
    width: 100%;

    &:hover, &:focus {
      background-color: var(--color-base-20);
      border: solid 1px var(--background-modifier-border-focus);
    }

    &:last-child {
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
    }
  }
}


.pill-container {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;

  .pill {
    display: inline-block;
    border: solid 1px var(--background-modifier-border);
    background-color: var(--background-primary-alt);
    color: var(--text-muted);
    border-radius: 50px;
    width: fit-content;
    padding: 0px 10px;
    margin: 0 5px 5px 0;

    &:focus-within {
      border: solid 1px var(--background-modifier-border-focus);
    }

    .pill-text {
      margin: 0;
    }
  
    .pill-image {
      margin: 0;
      border: 0;
      height: 100%;
      padding: 1px;
      aspect-ratio: 1 / 1;
    }
  
    .pill-remove {
      border: none;
      box-shadow: none;
      cursor: pointer;
      background-color: inherit;
      padding: 0 0 0 5px;
      color: var(--text-muted);

      &:hover, &:focus {
        color: var(--color-red);
      }
    }
  }
}
